* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: white;
}

header {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* background-color: rgb(130, 188, 235); */
}

.scane {
    position: relative;
    top: 0px;
    width: 100%;
    height: 250px;
    border-radius: 0 0 20px 20px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.9), 8px 8px 25px rgba(0, 0, 0, 0.5);
    border: 1px solid #ffffff;
    background-color: rgb(130, 188, 235);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}

.sun {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 40px #ffff5b, 0 0 60px #ffff5b, 0 0 80px #ffff5b, 0 0 100px #ffff5b;
}

.road {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #333;
}

.road::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: #0d9000;
}

.road::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, #fff 50%, #fff 100%);
    background-size: 15px;
}

#mount {
    position: absolute;
    top: 18px;
    left: 0px;
    width: 980px;
    height: 180px;
    z-index: 10;
}

#mount2 {
    position: absolute;
    top: 18px;
    left: 980px;
    width: 980px;
    height: 180px;
    z-index: 9;
}

#mount3 {
    position: absolute;
    top: -40px;
    left: 480px;
    width: 780px;
    height: 180px;
    z-index: 9;
}

#home {
    position: absolute;
    top: 60px;
    left: 150px;
    width: 180px;
    height: 180px;
    z-index: 11;
    cursor: pointer;
}

#kid {
    position: absolute;
    top: 150px;
    left: 550px;
    width: 50px;
    height: 50px;
    z-index: 14;
}

#bill {
    position: absolute;
    top: 100px;
    left: 650px;
    width: 80px;
    height: 100px;
    z-index: 14;
    cursor: pointer;
}

#phon {
    position: absolute;
    top: 140px;
    left: 1250px;
    width: 40px;
    height: 60px;
    z-index: 14;
    cursor: pointer;
}

#bstop {
    position: absolute;
    top: 145px;
    left: 1290px;
    width: 100px;
    height: 60px;
    z-index: 14;
}

#otlar {
    position: absolute;
    top: 120px;
    left: 450px;
    width: 60px;
    height: 60px;
    z-index: 11;
}

#trees {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#trees2 {
    position: absolute;
    top: 50px;
    left: 90px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#trees3 {
    position: absolute;
    top: 50px;
    left: 190px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#trees4 {
    position: absolute;
    top: 50px;
    left: 290px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#trees41 {
    position: absolute;
    top: 50px;
    left: 390px;
    width: 100px;
    height: 100px;
    z-index: 11;
}

#trees42 {
    position: absolute;
    top: 50px;
    left: 490px;
    width: 100px;
    height: 100px;
    z-index: 12;
}

#trees421 {
    position: absolute;
    top: 35px;
    left: 470px;
    width: 100px;
    height: 100px;
    z-index: 11;
}

#trees423 {
    position: absolute;
    top: 25px;
    left: 480px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#trees422 {
    position: absolute;
    top: 40px;
    left: 370px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#trees5 {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#trees6 {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#trees7 {
    position: absolute;
    top: 50px;
    right: 200px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#trees8 {
    position: absolute;
    top: 50px;
    right: 300px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#tre1 {
    position: absolute;
    top: 80px;
    left: 70px;
    width: 100px;
    height: 100px;
    z-index: 11;
}

#tre2 {
    position: absolute;
    top: 80px;
    left: 250px;
    width: 100px;
    height: 100px;
    z-index: 12;
}

#tre3 {
    position: absolute;
    top: 80px;
    left: 950px;
    width: 90px;
    height: 90px;
    z-index: 10;
}

.tre4 {
    position: absolute;
    top: 80px;
    left: 870px;
    width: 90px;
    height: 90px;
    z-index: 11;
}

.tre31 {
    position: absolute;
    top: 60px;
    left: 840px;
    width: 90px;
    height: 90px;
    z-index: 11;
}

.tre4 {
    position: absolute;
    top: 80px;
    left: 850px;
    width: 90px;
    height: 90px;
    z-index: 11;
}

.tre41 {
    position: absolute;
    top: 70px;
    left: 870px;
    width: 90px;
    height: 90px;
    z-index: 11;
}

.tre5 {
    position: absolute;
    top: 80px;
    left: 900px;
    width: 90px;
    height: 90px;
    z-index: 11;
}

.tre51 {
    position: absolute;
    top: 80px;
    left: 920px;
    width: 100px;
    height: 100px;
    z-index: 11;
}

.tre52 {
    position: absolute;
    top: 80px;
    left: 880px;
    width: 100px;
    height: 100px;
    z-index: 13;
}

.tre6 {
    position: absolute;
    top: 60px;
    left: 920px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.tre7 {
    position: absolute;
    top: 60px;
    left: 905px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.tre8 {
    position: absolute;
    top: 40px;
    left: 930px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.tre9 {
    position: absolute;
    top: 50px;
    left: 950px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#cloud1 {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 150px;
    height: 100px;
    z-index: 13;
    animation: animecl1 25s linear infinite;
    -webkit-animation: animecl1 25s linear infinite;
}

@keyframes animecl1 {
    0% {
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
    }
    100% {
        transform: translateX(1800px);
        -webkit-transform: translateX(1800px);
        -moz-transform: translateX(1800px);
        -ms-transform: translateX(1800px);
        -o-transform: translateX(1800px);
    }
}

#cloud2 {
    position: absolute;
    top: -20px;
    left: 150px;
    width: 150px;
    height: 100px;
    z-index: 10;
    animation: animecl2 25s linear infinite;
    -webkit-animation: animecl2 25s linear infinite;
}

@keyframes animecl2 {
    0% {
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
    }
    100% {
        transform: translateX(1800px);
        -webkit-transform: translateX(1800px);
        -moz-transform: translateX(1800px);
        -ms-transform: translateX(1800px);
        -o-transform: translateX(1800px);
    }
}

#cloud3 {
    position: absolute;
    top: -20px;
    left: 450px;
    width: 50px;
    height: 100px;
    z-index: 10;
    animation: animecl3 28s linear infinite;
    -webkit-animation: animecl3 28s linear infinite;
}

@keyframes animecl3 {
    0% {
        transform: translateX(-600px);
        -webkit-transform: translateX(-600px);
        -moz-transform: translateX(-600px);
        -ms-transform: translateX(-600px);
        -o-transform: translateX(-600px);
    }
    100% {
        transform: translateX(1500px);
        -webkit-transform: translateX(1500px);
        -moz-transform: translateX(1500px);
        -ms-transform: translateX(1500px);
        -o-transform: translateX(1500px);
    }
}

#cloud4 {
    position: absolute;
    top: -10px;
    left: 480px;
    width: 100px;
    height: 100px;
    z-index: 10;
    animation: animecl4 30s linear infinite;
    -webkit-animation: animecl4 30s linear infinite;
}

@keyframes animecl4 {
    0% {
        transform: translateX(-600px);
        -webkit-transform: translateX(-600px);
        -moz-transform: translateX(-600px);
        -ms-transform: translateX(-600px);
        -o-transform: translateX(-600px);
    }
    100% {
        transform: translateX(1500px);
        -webkit-transform: translateX(1500px);
        -moz-transform: translateX(1500px);
        -ms-transform: translateX(1500px);
        -o-transform: translateX(1500px);
    }
}

#cloud5 {
    position: absolute;
    top: 5px;
    left: 680px;
    width: 100px;
    height: 50px;
    z-index: 10;
    animation: animecl5 45s linear infinite;
    -webkit-animation: animecl5 45s linear infinite;
}

@keyframes animecl5 {
    0% {
        transform: translateX(-700px);
        -webkit-transform: translateX(-700px);
        -moz-transform: translateX(-700px);
        -ms-transform: translateX(-700px);
        -o-transform: translateX(-700px);
    }
    100% {
        transform: translateX(1500px);
        -webkit-transform: translateX(1500px);
        -moz-transform: translateX(1500px);
        -ms-transform: translateX(1500px);
        -o-transform: translateX(1500px);
    }
}

#cloud51 {
    position: absolute;
    top: 5px;
    left: 600px;
    width: 100px;
    height: 50px;
    z-index: 10;
    animation: animecl5 50s linear infinite;
    -webkit-animation: animecl5 50s linear infinite;
}

#cloud6 {
    position: absolute;
    top: -10px;
    left: 880px;
    width: 100px;
    height: 50px;
    z-index: 10;
    animation: animecl6 45s linear infinite;
    -webkit-animation: animecl6 45s linear infinite;
}

@keyframes animecl6 {
    0% {
        transform: translateX(-1200px);
        -webkit-transform: translateX(-1200px);
        -moz-transform: translateX(-1200px);
        -ms-transform: translateX(-1200px);
        -o-transform: translateX(-1200px);
    }
    100% {
        transform: translateX(1200px);
        -webkit-transform: translateX(1200px);
        -moz-transform: translateX(1200px);
        -ms-transform: translateX(1200px);
        -o-transform: translateX(1200px);
    }
}

#cloud7 {
    position: absolute;
    top: -10px;
    left: 780px;
    width: 100px;
    height: 50px;
    z-index: 10;
    animation: animecl7 30s linear infinite;
    -webkit-animation: animecl7 30s linear infinite;
}

@keyframes animecl7 {
    0% {
        transform: translateX(-1200px);
        -webkit-transform: translateX(-1200px);
        -moz-transform: translateX(-1200px);
        -ms-transform: translateX(-1200px);
        -o-transform: translateX(-1200px);
    }
    100% {
        transform: translateX(1100px);
        -webkit-transform: translateX(1100px);
        -moz-transform: translateX(1100px);
        -ms-transform: translateX(1100px);
        -o-transform: translateX(1100px);
    }
}

#cloud8 {
    position: absolute;
    top: 0px;
    left: 1080px;
    width: 100px;
    height: 50px;
    z-index: 10;
    animation: animecl98 35s linear infinite;
    -webkit-animation: animecl98 35s linear infinite;
}

#cloud9 {
    position: absolute;
    top: 0px;
    left: 1080px;
    width: 100px;
    height: 50px;
    z-index: 10;
    animation: animecl98 35s linear infinite;
    -webkit-animation: animecl98 35s linear infinite;
}

@keyframes animecl98 {
    0% {
        transform: translateX(-1200px);
        -webkit-transform: translateX(-1200px);
        -moz-transform: translateX(-1200px);
        -ms-transform: translateX(-1200px);
        -o-transform: translateX(-1200px);
    }
    100% {
        transform: translateX(600px);
        -webkit-transform: translateX(600px);
        -moz-transform: translateX(600px);
        -ms-transform: translateX(600px);
        -o-transform: translateX(600px);
    }
}

#car1 {
    position: absolute;
    top: 170px;
    left: 20px;
    width: 100px;
    height: 90px;
    z-index: 14;
    color: white;
    animation: animecl2 50s linear infinite;
    -webkit-animation: animecl1 50s linear infinite;
}

@keyframes animecar1 {
    0%,
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
    -webkit-animation: animatewave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
    -webkit-animation: animatewave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animatewave 3s linear infinite;
    -webkit-animation: animatewave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave_02 3s linear infinite;
    -webkit-animation: animatewave_02 3s linear infinite;
}

@keyframes animatewave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animatewave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}