.sect-packets {
    /* background: #c0ecf2; */
    padding-top: 30px;
}

@media (max-width: 768px) {
    .sect {
        overflow: normal !important;
    }
    .btn-box {
        width: 90%;
        margin: 2 auto;
        display: flex;
    }
    .btn-box button {
        padding: 10px 10px !important;
        font-size: 12px !important;
    }
    .packetsname {
        overflow: hidden;
    }
    .col-3 {
        width: 90%;
    }
    .btn-nav li a {
        width: auto!important;
    }
    .btn-nav li a.nav-item-active {
        color: var(--color-nav-active);
        transform: translateY(0) !important;
        font-size: 20px !important;
        -webkit-transform: translateY(0) !important;
        -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        -o-transform: translateY(0) !important;
    }
    .btn-nav-title {
        transform: translateY(0%) !important;
        display: none;
        font-size: 15px;
        -webkit-transform: translateY(0%) !important;
        -moz-transform: translateY(0%) !important;
        -ms-transform: translateY(0%) !important;
        -o-transform: translateY(0%) !important;
    }
    .packetsname {
        margin: 5px auto !important;
    }
    .btn-nav li a.nav-item-active i {
        font-size: 34px !important;
        transform: translateY(0)!important;
        -webkit-transform: translateY(0)!important;
        -moz-transform: translateY(0)!important;
        -ms-transform: translateY(0)!important;
        -o-transform: translateY(0)!important;
    }
    .btn-navindicator {
        display: none;
    }
    .swipcard {
        display: block !important;
    }
    .container-test {
        display: none !important;
    }
}

:root {
    --bg-nav: #d5f3f7;
    --color-nav: #33c1d6;
    --color-nav-hover: #dff9fb;
    --color-nav-active: #1e8696;
}

.btn-nav {
    width: 100%;
    position: relative;
    list-style-type: none;
    display: flex;
    background-color: var(--bg-nav);
    height: 80px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-nav li {
    width: 33%;
    text-align: center;
}

.btn-nav li a {
    text-decoration: none;
    color: var(--color-nav);
    width: 120px;
    height: 100%;
    display: inline-grid;
    place-items: center;
    font-size: 40px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    text-transform: none;
}

.btn-nav-title {
    transform: translateY(10px);
    display: none;
    font-size: 22px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.btn-nav li a:hover {
    color: var(--color-nav-hover)
}

.btn-nav li a.nav-item-active {
    color: var(--color-nav-active);
    transform: translateY(40%);
    font-size: 45px;
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: translateY(40%);
    -moz-transform: translateY(40%);
    -ms-transform: translateY(40%);
    -o-transform: translateY(40%);
}

.btn-nav li a.nav-item-active .btn-nav-title {
    display: block;
}

.btn-navindicator {
    width: 105px;
    height: 100px;
    border-radius: 50%;
    background: var(--bg-nav);
    border-radius: 50%;
    border: 10px solid #c0ecf2;
    position: absolute;
    z-index: 1;
    top: 22px;
    left: 11.4%;
    transition: left .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: left .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: left .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: left .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: left .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#yeni::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 23%;
    left: -31px;
    width: 25px;
    height: 25px;
    box-shadow: 5px 10px 0 0 #c0ecf2;
    border-bottom-right-radius: 20px;
    background: transparent;
}

#yeni::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: 23%;
    right: -32px;
    width: 25px;
    height: 25px;
    box-shadow: -8px 8px 0 #c0ecf2;
    border-bottom-left-radius: 20px;
    background: transparent;
}

.btn-box {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-box button {
    width: 33%;
    padding: 15px 0;
    border: none;
    background-color: var(--bg-nav);
    color: var(--color-nav);
    border-radius: 20px;
    display: inline-grid;
    place-items: center;
    font-size: 40px;
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.packetsname {
    width: 90%;
    margin: 0 auto 20px;
    align-items: center;
    position: relative;
    justify-content: center;
    /* overflow: hidden; */
}

.packet-cont {
    height: 80vh;
    overflow: hidden;
}

.packets {
    width: 100%;
    height: auto;
    /* display: none; */
    align-items: center;
    margin-top: 25px;
    position: absolute;
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transition: 0.6s ease-in-out;
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -ms-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
}

#telebepk {
    /* display: block; */
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.packet {
    height: auto;
    position: absolute;
    transform: translateX(100%);
    transition: 0.6s;
    transition-timing-function: ease-out;
    /* background: rgba(226, 221, 221, 0.5);
    backdrop-filter: blur(10px); */
}

#packet1 {
    position: relative;
    transform: translateX(0);
}

#packetml1 {
    position: relative;
    transform: translateX(0);
}

#packetkl1 {
    position: relative;
    transform: translateX(0);
}

.packet-sade {
    width: 100%;
}

.packet-info {
    text-align: center;
}

.packet-info p {
    font-size: 22px;
    width: 70%;
    margin: auto;
}

.packet-info ul {
    width: 60%;
    margin: auto 32%;
}

.packet-info ul li {
    text-align: left;
    font-size: 22px;
    width: 70%;
    margin: auto;
}

.packet-img img {
    width: 100%;
    height: auto;
}

.container-test {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}

@media (max-width: 768px) {
    .container-test {
        flex-wrap: wrap !important;
    }
}

.container-test .card {
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: Inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px -5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px -5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}

.container-test .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container-test .card:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg, #a362c2, #5a3eb6);
}

.container-test .card .box .content {
    padding: 20px;
    text-align: center;
}

.container-test .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.02);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    pointer-events: none;
}

.container-test .card:hover .box .content h2 {
    color: rgba(0, 0, 0, 0.05);
}

.container-test .card .box .content h3 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container-test .card:hover .box .content h3 {
    color: #FFF;
}

.container-test .card .box .content p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container-test .card:hover .box .content p {
    color: rgb(194, 188, 188);
}

.swipcard {
    display: none;
}

.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
}