.btn-box {
    width: 60%;
    margin: auto;
    display: flex;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
    .btn-box {
        width: 90%;
        margin: auto;
        display: flex;
        border-bottom: 1px solid #ccc;
    }
    .packetsname {
        margin: 2 auto;
    }
    .col-3 {
        width: 90%;
    }
}

.btn-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
}

.packet-sade,
.packet-silver,
.packet-gold {
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.packetsname {
    height: 80vh;
    margin: 35px auto;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

.packets {
    width: 100%;
    overflow: hidden;
    align-items: center;
    position: absolute;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#telebepk {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.packet {
    position: absolute;
    transform: translateX(100%);
    transition: 0.6s;
    transition-timing-function: ease-out;
}

#packet1 {
    position: relative;
    transform: translateX(0);
}

#packetml1 {
    position: relative;
    transform: translateX(0);
}

#packetkl1 {
    position: relative;
    transform: translateX(0);
}

.btn-box button:hover {
    background: greenyellow;
}

.packet-sade {
    width: 100%;
}

.packet-img {
    border: 1px solid black;
}

.packet-img img {
    width: 100%;
    height: auto;
}